
.prenomj
{ 
    color: #FFCA28;
    
}

.deve
{  
    border-bottom:2px #FFCA28 solid;
}

h1
{ 
    border:1px white none;
    text-aligN: left;
    margin: 30px;
    
    
    
}
.soustitre
{ 
    font-size: 1.4em;
    color: rgb(77, 74, 74);
}
.am
{ 
    font-size: 3em;
    font-family: Verd;
}

section h2
{ 
    border-bottom: 2PX #FFCA28 solid ;
    text-align: left;
    width: 95%;
    margin-left:95px ;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 19%;
    padding-bottom: 14px;
}

#texth2 
{  
    
    
    font-size:1.4em;
    color:rgb(92, 88, 88);
    border: #FFCA28 1px none;
}


.h2text
{  
    
    
    margin-left:30px ;
}

.devh3
{   
    margin-left: 300PX;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgb(92, 88, 88);
}

.valise, .chapeauetude, .stylo
{  
    color: #FFCA28;
    width: 30px;
    margin-left: 10PX;
    font-size: 1.5em;
}



#photocv
{ 
  text-align: center;
  border-radius: 50%;
  margin-top: 50px;
 
  overflow:hidden;
  width: 230px;
  height: 220px;
  margin: auto;
  margin-top: 35PX;
  background: url("photocvmini.jpg");
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
  background-size: cover;
  background-position: center;
}
.partiegauche {
  color: rgb(92, 88, 88);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  
}

.partiegauche
{ 
    width: 430PX;
    border:1px none gray;
    color:rgb(92, 88, 88);
    background:#FFCA28;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-align: left;
} 




.partiegauche h2
{ 
    border:1px gray solid;
    padding: 9px;
    text-align: center;
    background:rgb(68, 67, 67);
    color: #FFCA28;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    
}

.touteslesicone
{  
    width: 350PX;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    
    
}

.nage, .altère, .livre 
{   
    border-radius: 50%;
    overflow: hidden;
    width: 65px;
    height: 63px;
    border:rgb(68, 67, 67) 2PX solid ;
    margin: auto;
    text-align: center;
    margin-left: 55PX;
    margin-bottom: 50PX;

    

}


.contacttext 
 { 
     margin-left: 40px;
}
.aproposdemoitext
{ 
  
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}



#toutelessections
{ 
    
    border:1px solid black;
    width:100%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: left;
    
    
}

.datenice
{   
      
      width: 25PX;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      font-size: 1.2em;
    
}

.dateopen
{  
    margin-top: 35PX;
    display: flex;
    flex-direction: row;
    
    
}

.icone
{   
    width: 7PX;
    align-self: flex-start;
    margin-left: 95PX;
    color: #FFCA28;
    
}

.opendev
{    
    margin-left: 156PX;
}

.dev
{    
    width: 250PX;
     margin-left: 272PX;
     font-size: 1.2em;
     margin-left: 32PX;
     color:rgb(92, 88, 88);
}

.open 
{    
    width: 300PX;
    margin-left: 30PX;
    font-size: 1.3em;
    
}


.html, .java, .node, .mongodb, .express, .langage, .vuejs
{  
    border: #FFCA28 1px none;
    margin-top: 5PX;
    text-align: justify;
    margin-left: 345PX;
}

.langage
{  
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 30PX;
}
@media all and (max-width: 830px)
{ 
    #toutelessections
    { 
        
        flex-direction: column;
        
        width: auto;
    }  
    
 .partiegauche
 { 
     width: auto;
     
     
 } 
}  
@media all and (min-width:830px)and(max-width:1050px)
{   
 section h2
 {   
     width: auto;
     margin-left: 70px;
     

     
 }

 .devh3
 {   
     margin: auto;
     
 }

}

